/*Colors, icons and theme*/
@import 'https://wfiles.glitch.me/fonts/get.css';
:root {
  --background: #e6e1e6;
  --container: #f6f0ff;
  --primary: #6750a4;
  --secondary: #625b71;
  --error: #ba1a1a;
  --outline: #7a757f;
  --font: #000000;
  --title: #22005d;
}

/* Default rules */
body {
  margin: 0;
  background-color: var(--background);
  font-family: 'PT Sans', sans-serif;
}
#app {
  margin: 0 auto;
  width: 700px;
  max-width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

/* Header */
#header-title {
  color: white;
  font-weight: 400;
  font-size: 32px;
  font-family: 'PT Serif', serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 150px;
  padding-bottom: 25px;
  background-color: var(--primary);
  color: white;
  padding: 10px 18px;
}
.header-container {
  margin: 0 auto;
  width: 700px;
  max-width: 90%;
}
.category {
  color: var(--title);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}

/*Card, links*/
.card {
  background-color: var(--container);
  border: 0px solid transparent;
  border-radius: 12px;
	box-shadow: 0px 0px 6px var(--outline);
  padding: 8px 16px;
  color: var(--font);
}
.card-icon {
  color: var(--title);
}
a {
  text-decoration: none;
  color: var(--primary);
}

/*Big links*/
.a-xl {
  display: flex;
  color: var(--font);
}
.a-xl-p1, .a-xl-p2 { padding: 10px; }
.a-xl-p1 { width: 30px; font-size: 25px; }

/*Inputs*/
.input-wrapper {
  border: 1px solid var(--secondary);
  border-radius: 12px;
  background-color: var(--container);
	box-shadow: 0px 0px 3px var(--outline);
}
.input-area {
  margin-left: 5px;
  background: transparent;
  padding: 4px 10px;
  outline: none;
  width: 90%;
  max-width: 90%;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease;
}
.input-area:focus {
  border-color: var(--primary);
}
.input-area:not(:focus) {
  border-color: transparent;
}

/*Buttons*/
.button-primary {
  background-color: var(--primary);
  color: white;
  border: 0px solid transparent;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: inherit;
  font-family: inherit;
}

/*Information*/
.info {
  color: #555555;
  font-size: 13px;
}
.info-icon {
  padding-bottom: 20px;
}

/* Frontpage-related */
summary {
  padding: 10px 20px;
  font-size: 20px;
}
.cg_cell {
  display: inline-block;
  width: 40%;
  padding: 20px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: rgba(0,0,0,0.2) radial-gradient(circle, transparent 1%, rgba(0,0,0,0.2) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(0,0,0,0.4);
  background-size: 100%;
  transition: background 0s;
}
