body {
	background-color: #ddd;
	margin: 0;
}

/* Main container */
#app {
	background-color: #fff;
	border-radius: 10px;
	margin: auto;
	width: 700px;
	max-width: 100%;
	margin-top: 20px;
	box-shadow: 0px 0px 10px #666;
}
#app-content {
	padding: 20px;
}

/* Links */
a {
	color: #33f;
}

/* Headings */
h1 {
	font-size: 25px;
}
h2 {
	font-size: 18px;
}

/* Title */
#title {
	background-color: indigo;
	color: white;
}
#title-container {
	text-align: center;
	padding: 20px;
}
.github {
	padding: 5px;
	background-color: white;
	color: #222;
	text-decoration: none;
	border-radius: 5px;
}

/* Text areas */
textarea {
	border: 1px solid indigo;
	border-radius: 5px;
}